<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mytube</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <nav class="flex-div">
        <div class="nav-left flex-div">
            <img src="" class="menu-icon">
            <img src="" class="logo">
        </div>
        <div class="nav-middle flex-div">

            <div class="search-box flex-div">
                <input type="text" placeholder="Search">
                <img src="images/">
            </div>
            <img src="images/" class="mic-icon">
        </div>
        <div class="nav-right flex-div">
            <img src="images/">
            <img src="images/">
            <img src="images/">
            <img src="images/" class="user-icon">
        </div>
    </nav>


    <!-- ----------------sidebar------------------ -->

    <div class="sidebar">
        <div class="shortcut-links">
            <a href=""><img src="images/"><p>Home</p></a>
            <a href=""><img src="images/"><p>Explore</p></a>
            <a href=""><img src="images/"><p>Subscriprions</p></a>
            <a href=""><img src="images/"><p>Shorts</p></a>
            <a href=""><img src="images/"><p>Subscriptions</p></a>
            <hr>
            <a href=""><img src="images/"><p>Library</p></a>
            <a href=""><img src="images/"><p>History</p></a>
            <a href=""><img src="images/"><p>Your videos</p></a>
            <a href=""><img src="images/"><p>Watch later</p></a>
            <a href=""><img src="images/"><p>Liked videos</p></a>
            <a href=""><img src="images/"><p>Show more</p></a>
            <hr>
        </div>
        <div class="subscribed-list">
            <h3>SUBSCRIBED</h3>
            <a href=""><img src="images/"><p>Testing Channel Name</p></a>
        </div>
    </div>

    <!-- -------------main------------- -->

    <div class="container">
        <div class="banner">
            <img src="images/">
        </div>
        <div class="list-container">
            <div class="vid-list">
                <a href=""><img src="images/" class="thumbnail"></a>                
                <div class="flex-div">
                    <img src="images/">
                    <div class="vid-info">
                        <a href="">Best channel to learn coding</a>
                        <p>Mountblue Tutorials</p>
                        <p>15k views &bull; 2 days</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

<script src="script.js"></script>
</body>
</html>