{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mytube</title>
    <link rel="stylesheet" href="{% static 'homepage/style.css' %}">
</head>

<body>

    <nav class="flex-div">
        <div class="nav-left flex-div">
            <img src="{% static 'homepage/images/menu.png' %}" class="menu-icon">
            <a href="{% url 'homepage' %}"><img src="{% static 'homepage/images/mytube-logo.jpg' %}" class="logo"></a>
        </div>
        <div class="nav-middle flex-div">

            <div class="search-box flex-div">
                <input type="text" placeholder="Search">
                <img src="{% static 'homepage/images/search.png' %}">
            </div>
            <img src="{% static 'homepage/images/voice-search.png' %}" class="mic-icon">
        </div>
        <div class="nav-right flex-div">
            <img src="{% static 'homepage/images/upload.png' %}">
            <img src="{% static 'homepage/images/more.png' %}">
            <img src="{% static 'homepage/images/notification.png' %}">
            <div>
                <a href="{% url 'login' %}"><img src="{% static 'homepage/images/' %}">
                    <p>SIGN IN</p>
                </a>
            </div>
        </div>
    </nav>


    <!-- ----------------sidebar------------------ -->

    <div class="sidebar">
        <div class="shortcut-links">
            <a href=""><img src="{% static 'homepage/images/home.png' %}">
                <p>Home</p>
            </a>
            <a href=""><img src="{% static 'homepage/images/explore.png' %}">
                <p>Explore</p>
            </a>
            <a href=""><img src="{% static 'homepage/images/youtube-shorts.png' %}">
                <p>Shorts</p>
            </a>
            <a href=""><img src="{% static 'homepage/images/subscription.png' %}">
                <p>Subscriptions</p>
            </a>
            <hr>
            <a href=""><img src="{% static 'homepage/images/library.png' %}">
                <p>Library</p>
            </a>
            <a href=""><img src="{% static 'homepage/images/history.png' %}">
                <p>History</p>
            </a>
            <hr>
            <div>
                <p>Sign in to like videos, comment and subscribe.</p>
            </div>
            <div>
                <a href="{% url 'login' %}"><img src="{% static 'homepage/images/' %}">
                    <p>SIGN IN</p>
                </a>
            </div>
        </div>
    </div>

    <!-- -------------main------------- -->

    <div class="container">
        <div class="banner">
            <img src="{% static 'homepage/images/banner.jpeg' %}">
        </div>
        <div class="list-container">
            {% for video in videos_data %}
            <div class="vid-list">
                <a href="{% url 'watch:watch' video.id%}"><img src="{{ video.thumbnail.url }}" class="thumbnail"
                        width="500" height="222"></a>
                <div class="flex-div">
                    <img src="{% static 'homepage/images/' %}">
                    <div class="vid-info">
                        <a href="">"{{ video.title }}"</a>
                        <p>{{ video.channel }}</p>
                        <p>{{ video.video_views }} views &bull; 2 days</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'homepage/script.js' %}"></script>
</body>

</html>