{% load static%}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Title</title>
    <link rel="stylesheet" href="{% static 'watch/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <nav class="flex-div">

        <div class="nav-left flex-div">
            <img src="{% static 'homepage/images/menu.png' %}" class="menu-icon">
            <a href="{% url 'homepage' %}"><img src="{% static 'homepage/images/mytube-logo.jpg' %}" class="logo"></a>
        </div>
        <div class="nav-middle flex-div">

            <div class="search-box flex-div">
                <input type="text" placeholder="Search">
                <img src="{% static 'homepage/images/search.png' %}">
            </div>
            <img src="{% static 'homepage/images/voice-search.png' %}" class="mic-icon">
        </div>
        <div class="nav-right flex-div">
            <img src="{% static 'homepage/images/upload.png' %}">
            <img src="{% static 'homepage/images/more.png' %}">
            <img src="{% static 'homepage/images/notification.png' %}">
            <img src="{{ image.profile_image.url }}" class="user-icon">
        </div>
    </nav>

    <!-- ----------------sidebar------------------ -->

    <div class="sidebar">
        <div class="shortcut-links">
            <a href=""><img src="{% static 'homepage/images/home.png' %}">
                <p>Home</p>
            </a>
            <a href=""><img src="{% static 'homepage/images/explore.png' %}">
                <p>Explore</p>
            </a>
            <a href=""><img src="{% static 'homepage/images/youtube-shorts.png' %}">
                <p>Shorts</p>
            </a>
            <a href=""><img src="{% static 'homepage/images/subscription.png' %}">
                <p>Subscriptions</p>
            </a>
            <hr>
            <a href=""><img src="{% static 'homepage/images/library.png' %}">
                <p>Library</p>
            </a>
            <a href=""><img src="{% static 'homepage/images/history.png' %}">
                <p>History</p>
            </a>
            <a href=""><img src="{% static 'homepage/images/' %}">
                <p>Your videos</p>
            </a>
            <a href=""><img src="{% static 'homepage/images/' %}">
                <p>Watch later</p>
            </a>
            <a href=""><img src="{% static 'homepage/images/' %}">
                <p>Liked videos</p>
            </a>
            <a href=""><img src="{% static 'homepage/images/show-more.png' %}">
                <p>Show more</p>
            </a>
            <hr>
        </div>
        <div class="subscribed-list">
            <h3>SUBSCRIBED</h3>
            <a href=""><img src="{% static 'homepage/images/' %}">
                <p>Testing Channel Name"</p>
            </a>
        </div>
    </div>

    <div class="play-container">
        <div class="row">
            <div class="play-video">
                <video controls autoplay>
                    <source src="{{ video_data.video_link.url }}" type="video/mp4">
                </video>

                <div class="tags">
                    <a href="">#Coding</a>
                    <a href="">#JavaScript</a>
                    <a href="">#Python</a>
                    <a href="">#Django</a>
                </div>
                <h3>{{ video_data.title }}</h3>

                <div class="play-video-info">
                    <p>{{ video_data.video_views }} Views &bull; 0 days ago</p>
                    <div>


                        <button id="like-btn" class="dl-btn">
                            <a><img src="{% static 'watch/images/black-like.png' %}"></a>
                            <a id="like-count">{{ likes_count }}</a>
                        </button>

                        <button id="dislike-btn" class="dl-btn">
                            <a><img src="{% static 'watch/images/black-dislike.png' %}"></a>
                            <a id="dislike-count">{{ dislikes_count }}</a>
                        </button>




                        <a href=""><img src="{% static 'homepage/images/share.png' %}" alt="">Share</a>
                        <a href=""><img src="{% static 'homepage/images/save.png' %}" alt="">Save</a>
                    </div>
                </div>
                <hr>
                <div class="publisher">
                    <img src="{% static 'homepage/images/Jack.png' %}">
                    <div>
                        <p>Pending Channel</p>
                        <span>0 Subscribers</span>
                    </div>
                    <button type=" button">Subscribe</button>
                </div>
                <div class="vid-description">
                    <p>{{ video_data.description }}</p>
                    <hr>
                    <h4 id="comments_count">{{ comments_count }} Comments</h4>
                    <div>

                        <div class="add-comment">
                            <img src="{% static 'homepage/images/Jack.png' %}">
                            <input id="comment-text" type="text" class="comment-input" placeholder="Add a comment...">
                        </div>
                        <div class="comment-btns toggler">
                            <div>
                                <button id="cancel-btn" class="comment-button">CANCEL</button>
                                <input id="comment-btn" type="submit" class="comment-button" value="COMMENT">
                            </div>
                        </div>
                    </div>
                    <div class="all-loaded-comments">
                        {% for main_comment in video_comments %}
                        <div class="old-comment" id="old-comment">
                            <img src="{{ main_comment.user_id.profile_image.url }}">

                            <div class="main-comment-section">
                                <h3>Hi<span>0 days ago</span></h3>
                                <p>{{ main_comment.comment_text }}</p>
                                <div class="comment-action">
                                    <img src="{% static 'homepage/images/like.png' %}">
                                    <span>0</span>
                                    <img src="{% static 'homepage/images/dislike.png' %}">
                                    <span>0</span>
                                    <p class="reply-{{ main_comment.id }}"
                                        onclick='show_reply("{{ main_comment.id }}")'><span>REPLY</span></p>
                                    <a id="view-replies-{{ main_comment.id }}"
                                        onclick='view_old_replies("{{ main_comment.id }}")'>View replies</a>
                                    <!-- *********************** -->
                                </div>
                                <div class="comment-replies-{{ main_comment.id }} comment-replies">
                                    <div>
                                        <div class="add-reply">
                                            <img id="add-reply_img" src="{% static 'homepage/images/Jack.png' %}">
                                            <input id="reply-comment-text-{{ main_comment.id }}" type="text"
                                                class="reply-comment-input" placeholder="Add a reply...">
                                        </div>
                                        <div class="reply-comment-btns">
                                            <div>
                                                <button id="reply-cancel-btn-{{ main_comment.id }}"
                                                    class="reply-comment-button"
                                                    onclick='cancel_reply("{{ main_comment.id }}")'>CANCEL</button>
                                                <input id="reply-comment-btn-{{ main_comment.id }}" type="submit"
                                                    class="reply-comment-button" value="REPLY"
                                                    onclick='submit_comment_reply("{{ main_comment.id }}")'>
                                            </div>
                                        </div>

                                        <div id="all-old-comment-replies-{{ main_comment.id }}">

                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

            </div>
            <div class="right-sidebar">
                {% for data in all_videos_data%}
                <div class="side-video-list">
                    <a href="{% url 'watch:watch' data.id%}" class="small-thumbnail"><img
                            src="{{ data.thumbnail.url }}"></a>
                    <div class="vid-info">
                        <a href="">{{ data.title }}</a>
                        <p>Easy Tutorials</p>
                        <p>{{ data.video_views}} Views</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{% static 'watch/script.js' %}"></script>

    <script>
        $('#cancel-btn').click(function () {
            toggler.style.display = "none";
        });
        $('#comment-btn').click(function () {
            comment_text = $('#comment-text').val();
            $.ajax(
                {
                    type: "GET",
                    url: "{% url 'main_comment' %}",
                    data: {
                        video_id: "{{ video_data.id }}",
                        comment_text: comment_text,
                        comments_count: {{ comments_count }},
                                        },
            success: function (data) {

                $("#comment-text").attr("placeholder", "Add a comment...").val("").focus().blur();
                toggler.style.display = "none";
                $('#comments_count').text(data.comments_count + ' Comments');
                $('.all-loaded-comments').load(' .all-loaded-comments');
                // $('.all-loaded-comments').load(' all-loaded-comments', {video_comments:data.video_comments});
            }
                                    }
        )
                            });
        function submit_comment_reply(v) {
            replied_comment_text = $("#reply-comment-text-" + v).val();
            $.ajax(
                {
                    type: "GET",
                    url: "{% url 'replied_comment' %}",
                    data: {
                        parent_comment_id: v,
                        replied_comment_text: replied_comment_text,
                        video_id: "{{ video_data.id }}",
                    },
                    success: function (data) {
                        console.log('111111111111111111111')
                        console.log('reply-comment-text-' + v)

                        document.getElementById('reply-comment-text-' + v).style.placeholder = "Add a reply88877...";
                        cancel_reply(v);
                    }
                }
            )
        };
        /* //////////////////////////////////////////// */
        function view_old_replies(v) {
            var check_replies = document.getElementById('check_replies');
            console.log(typeof v);
            console.log(v);
            if (check_replies != null) {
                document.getElementById('all-old-comment-replies-' + v).innerHTML = '';
            }
            else {
                console.log('imhere2');
                document.getElementById('all-old-comment-replies-' + v).style.display = 'inline';
                document.querySelector('.comment-replies-' + v).style.display = "inline";
                console.log('imhere3333');
                $.ajax(
                    {
                        type: "GET",
                        url: "{% url 'view_old_replies' %}",
                        data: {
                            parent_comment_id: v,
                            video_id: "{{ video_data.id }}",
                        },
                        success: function (data) {
                            for (var i in data.comments_replies_for_parent) {
                                var reply_content = data.comments_replies_for_parent[i];
                                $("#all-old-comment-replies-" + v).append(

                                    '<div class="old-comment-replies-' + reply_content['id'] + '">' +
                                    '<img src=' + reply_content['profile_image'] + '>' +

                                    '<div class="main-comment-section-' + reply_content['id'] + '">' +
                                    '<h3>' + reply_content['username'] + '<span>0 days ago</span></h3>' +
                                    '<p>' + reply_content['comment_text'] + '</p>' +
                                    '<div class="comment-action" id="check_replies">' +
                                    '<img src="{% static "homepage/images/like.png" %}">' +
                                    '<span>0</span>' +
                                    '<img src="{% static "homepage/images/dislike.png" %}">' +
                                    '<span>0</span>' +
                                    '<p class=""><span>REPLY</span>' +
                                    '</p>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>'
                                );
                            }
                        }
                    }
                )
            }
        };

    </script>

    <script>
        $('#like-btn').click(function () {
            var dislikes_count;
            likes_count = document.getElementById('like-count').innerText;
            dislikes_count = document.getElementById('dislike-count').innerText;
            $.ajax(
                {
                    type: "GET",
                    url: "{% url 'like' %}",
                    data: {
                        likes_count: likes_count,
                        dislikes_count: dislikes_count,
                        video_id: "{{ video_data.id }}",
                    },
                    success: function (data) {
                        document.getElementById('like-count').innerText = data.likes_count;
                        document.getElementById('dislike-count').innerText = data.dislikes_count;
                    }
                }
            )
        });
        $('#dislike-btn').click(function () {
            var dislikes_count;
            likes_count = document.getElementById('like-count').innerText;
            dislikes_count = document.getElementById('dislike-count').innerText;
            $.ajax(
                {
                    type: "GET",
                    url: "{% url 'dislike' %}",
                    data: {
                        likes_count: likes_count,
                        dislikes_count: dislikes_count,
                        video_id: "{{ video_data.id }}",
                    },
                    success: function (data) {
                        document.getElementById('like-count').innerText = data.likes_count;
                        document.getElementById('dislike-count').innerText = data.dislikes_count;
                    }
                }
            )
        });
    </script>

</body>

</html>