{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'user_authentication/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="img-div">
            <a href="{% url 'homepage' %}"><img src="{% static 'homepage/images/mytube-logo.jpg' %}" class="logo"></a></a>
        </div>
        <form class="site-form form-control d-flex justify-content-center" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <a><input type="submit" value="UPLOAD"></a>
        </form>
    </div>
</body>

</html>